:root {
    --color-background: #ffffff;
    --color-shadow: rgba(0,0,0,0.1);
    --color-border: #dddddd;
    --color-background-full-color: hsl(199, 43%, 70%);
    --color-background-gray-lighter: hsl(199, 43%, 90%);
    --color-border-gray-lighter: hsl(199, 43%, 80%);
    --color-background-gray-darker: hsl(199, 43%, 80%);
    --color-border-gray-darker: hsl(199, 43%, 75%);
    --color-background-selected: hsl(199, 43%, 99%);
    --color-border-selected: hsl(199, 43%, 94%);
    --color-button-hover: #fff;
    --color-text: #000000;
    --color-text-dimmed: hsl(199, 43%, 50%);
    --color-text-negative: #ffffff;
    
    /* Font sizes */
    --font-size-header: 20px;
    --font-size-title: 18px;
    --font-size: 18px;
    --font-size-subtext: 22px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: hsl(199, 24%, 49%);
        --color-shadow: rgba(0,0,0,0.1);
        --color-border: hsl(199,43%,20%);
        --color-background-full-color: hsl(199, 43%, 30%);
        --color-background-gray-lighter: hsl(199, 43%, 35%);
        --color-border-gray-lighter: hsl(199, 43%, 30%);
        --color-background-gray-darker: hsl(199, 43%, 30%);
        --color-border-gray-darker: hsl(199, 43%, 20%);
        --color-background-selected: hsl(199, 43%, 25%);
        --color-border-selected: hsl(199, 43%, 15%);
        --color-button-hover: hsl(199, 43%, 20%);
        --color-text: #ffffff;
        --color-text-dimmed: hsl(199, 43%, 70%);
        --color-text-negative: #000000;
    }
}

@media (max-width: 800px) {
    :root {
        /* Font sizes */
        --font-size-header: 16px;
        --font-size-title: 16px;
        --font-size: 15px;
        --font-size-subtext: 18px;
    }
}



@media (max-width: 630px) {
    :root {
        /* Font sizes */
        --font-size-header: 16px;
        --font-size-title: 16px;
        --font-size: 14px;
        --font-size-subtext: 17px;
    }
}

@media (max-width: 570px) {
    :root {
        /* Font sizes */
        --font-size-header: 16px;
        --font-size-title: 15px;
        --font-size: 13px;
        --font-size-subtext: 17px;
    }
}

@media (max-width: 520px) {
    :root {
        /* Font sizes */
        --font-size-header: 14px;
        --font-size-title: 13px;
        --font-size: 12px;
        --font-size-subtext: 17px;
    }
}

* {
    font-family: 'Roboto Condensed';
    margin: none;
    padding: none;
    box-sizing: border-box;
}

body {
    background-color: var(--color-background);
}

.subindex {
    font-size:50%;
    vertical-align:sub;
}

.instrument {
    display: flex;
    flex-direction: row;
}
@media (max-width:950px) {
    .instrument {
        flex-direction: column;
    }
}

.box {
    border: solid 1px var(--color-border);
    border-radius: 10px;
    box-shadow: 0px 0px 5px var(--color-shadow);
}

.table {
    /* margin: auto; */
    /* margin: 20px; */
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    min-width: 375px;
    height: 99vh;
    max-width: 70vw;
    /* box-shadow: 5px 5px 10px var(--color-shadow); */
    overflow: hidden;
    background-color: var(--color-background);
}
@media (max-width:1040px) {
    .table {
        max-width: 100vw;
    }
}

.table-headers {
    display: flex;
    flex-direction: row;
    height: 50px;
}

.table-header {
    background-color: var(--color-background-full-color);
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: var(--font-size-header);
}

.table-header.colspan-1 {
    border-right: solid 1px var(--color-border-gray-darker);
}

.table-header.colspan-4 {
    /* border-left: solid 3px var(--color-button-light); */
}

.table-dimension {
    display: flex;
    flex-direction: row;
    height: 25%;
}

.table-dimension-button,
.table-dimension-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 20%;
    padding: 10px;
    border-bottom: solid 1px var(--color-border-gray-darker);
}

.table-dimension-separator {
    width: 100%;
    margin: 5px 0;
    border-top: solid 1px var(--color-border-gray-lighter);
}

@media (max-width: 600px) {
    .table-dimension-button {
        padding: 5px;
    }
}

.table-dimension-title {
    /* background-color:green !important; */
    background-color: var(--color-background-gray-darker);
    color: var(--color-text);
    font-size: var(--font-size-title);
}

.table-dimension-button {
    /* border-top: solid 5px var(--color-button-light); */
    /* border-left: solid 5px var(--color-button-light); */
    /* border-right: solid 5px var(--color-button-shadow); */
    /* border-bottom: solid 5px var(--color-button-shadow); */
    /* font-weight: normal; */
    background-color: var(--color-background-gray-lighter);
    transition: 100ms;
    color: var(--color-text);
    font-size: var(--font-size);
    cursor: pointer;
    border-right: solid 1px var(--color-border-gray-lighter);
    border-radius: 10px;
    margin:2px;
    box-shadow: 0px 0px 5px var(--color-shadow);
}

.table-dimension-button.button-selected {
    /* border-top: solid 5px var(--color-button-shadow); */
    /* border-left: solid 5px var(--color-button-shadow); */
    /* border-right: solid 5px var(--color-button-light); */
    /* border-bottom: solid 5px var(--color-button-light); */
    /* box-shadow: 5px 5px 10px var(--color-shadow) inset; */
    transform: scaleY(96%) translateY(-4px);
    box-shadow: 5px 5px 1px var(--color-border-gray-lighter) inset;
    transition: 100ms;
}

.button-selected>.table-dimension-button-subtext {
    color: var(--color-text);
}

.table-dimension-button:hover>.table-dimension-button-subtext {
    color: var(--color-text);
}

/*  Next media query makes the statement applies only when hover is supported*/
@media (hover: hover) {
    .table-dimension-button:hover {
        background-color: var(--color-button-hover);
    }
}

.table-dimension-button-subtext {
    color: var(--color-button-hover);
    text-align: right;
    font-weight: bold;
    font-size: var(--font-size-subtext);
}

.colspan-1 {
    width: 20%;
}
.colspan-2 {
    width: 40%;
}
.colspan-4 {
    width: 80%;
}
.colspan-full {
    width: 100%;
}

.button-selected {
    background-color: var(--color-background-selected);
}

.list-item::before {
    content: "•";
}

.details {
    margin-left: 10px;
    width: 40vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: var(--color-background-sidebar);
}

@media (max-width: 950px) {
    .details {
        margin-left:0;
        margin-top: 10px;
        width: 100%;
        flex-direction: column-reverse;
    }
}

.table-description {
    width: 100%;
    margin: 10px;
    padding-right: 20px;
    color: var(--color-text);

}

.table-scores {
    border: solid 1px var(--color-background);
    width: 100%;
    background-color: var(--color-background-full-color);
    border-radius: 5px;
}

.table-title {
    vertical-align:center;
    padding: 5px 5px;
    font-size: 25px;
    border-bottom: solid 1px var(--color-background);
}

.table-title.last {
    border-bottom: none;
}

.scoretable{
    /* text-align: center; */
    padding: 5px 10px;
    font-size: 25px;
    background-color: var(--color-background);
}

.category {
    font-weight: bold;
    font-size: 40px;
}

.footer {
    background-color: var(--color-background-gray-darker);
    margin-top: 10px;
    width: 100%;
    text-align: center;
    color: var(--color-text-dimmed)
}

.footer p {
    margin: 5px 0;
    font-size: 12px;
}

.footer p a {
    color: var(--color-text-dimmed)
}

.image-logos {
    margin:0;
    background-color: white;
    /* border-radius: 100px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
}
.image-logos img {
    margin: auto 0;
}

.table-sidebar-header {
    background-color: var(--color-background-full-color);
    text-align: center;
    color: var(--color-text);
    font-size: 14px;
}

.table-sidebar-header h2, .table-sidebar-header h3{
    margin: 10px 0;
}

.table-sidebar-header h3 {
    font-weight: normal;
    font-size: 12px;
}

.instructions {
    margin-top: 10px;
    color: var(--color-text)
}